* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-bottom: 15px;
}
.container {
  margin: 20px;
  padding: 10px;
}
.user-details-container {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  font-size: 18px;
}
.user-input {
  font-size: 18px;
  padding: 5px;
}
#submit {
  width: 120px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}
.board-container {
  width: 302px;
  height: 301px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  margin-top: 15px;
}
.display-none {
  display: none;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 22px;
  display: flex;
  flex-flow: row wrap;
  place-content: center;
}
